*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header{
    display: flex;
    background-color: rgb(8, 73, 138);
    padding: 10px;
    /* margin: 1%; */
    /* border: 2px solid black; */
}

#header-logo {
    margin-left: 5%;
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: white;
}


.header-links {
    display: flex;
    margin-left: 60%;
}

.header-links a{
    margin: 5px;
}

.showcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.showcase .photo {
    margin: 20px;
    /* border: 1px solid rgb(38, 111, 184); */
    text-align: center;
}

.showcase .photo .image {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border: 2px solid rgb(8, 73, 138);
    border-radius: 20px;
}

.showcase .photo .image img {
    width: inherit;
    height: auto;
    border-radius: inherit;
}

footer {
    display: flex;
    background-color: rgb(8, 73, 138);
    color: white;
    margin: none;
    height: 40px;
    font-size: small;
    align-items: center;
    justify-content: center;    
}

#contact {
    text-align: right;
    margin-left: 10%;
}